.container {
    padding: 20px;
    margin: auto;
}

.flexContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.avatar {
    height: 150px;
    width: 150px;
    text-align: center;
    border: solid 4px;
    border-color: #116466;
}

.p1{
    font-size: 32px;
    text-align: center;
}
.p2 {
    font-size: 20px;
    text-align: center;
    margin-top: 5px;
}