.side{
	width: 40%;
	margin-top: -300px;

	float: right;
}
.contain{
	width: 55%;
	float:left;
}

.cert{
	border:1px solid green;
	width:95%;
	height:100%;
	margin-left: 40px;
	border-radius: 35px;
	margin-top: 30px;
	opacity:0.4;
}
.cert p{
	font-size:22px;
	color:green;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
}
@media (max-width: 1000px){
	.side{
		width: 100%;
		margin-top: 0px;


	}
	.contain{
		width: 100%;
	}
	.head{
		display: none;
	}
	.cert{
		margin-left: 2.2%;
		width: 95%;
	}
	.cert p{
		font-size: 16px;
	}
	
}