.dropdown{
	width:95%;
	height:100%;
	margin-left: 40px;
	margin-top: 40px;
	background-color: rgba(146, 164, 183, 0);;

}
.drop{
	width: 95%;
	height:100%;
	padding-top: 9px;
	padding-bottom: 9px;
	border-radius: 3px;
	margin-top: 7px;
	box-shadow: 3px 3px 3px #ccc;


}

.drop p{
	font-size: 22px;
	margin-left: 12px;
	margin-top: 10px;
	color:rgb(145, 145, 145);
	font-weight: 500;
	display: inline-block;

}
.cont{
	width: 100%;
	height:100%;
}
.cont p{
	font-size: 17px;
	margin-left: 20px;
	margin-top: 10px;
	color:rgb(145, 145, 145);
}
.check{
	float: right;
	margin-right:20px;
	margin-top: 10px;
}
@media (max-width: 450px){
	.dropdown{
		margin-left: 15px;
	}
	.drop p{
		font-size: 15px;
	}
}