.head{
	height:400px;
	width:60%;
	padding-top:80px;
}
.head h1{
	color:white;
	font-size: 40px;
	font-weight:700;
	margin-left:40px;
	float:bottom;
}
.head p{
	margin-left:40px;
	color:white;
	font-size: 17px;
}
.head button{
	border: 2px solid white;
	width:180px;
	height:35px;
	background-color:transparent;
	border-radius: 5px;
	color:white;
	margin-left: 40px;

}
.head button:hover{
	background-color: white;
	color:black;
}
@media (max-width: 450px){
	.main{
		display: none;
	}
}