.card{
	width:400px;
	height:600px;
	float:right;
	margin-right: 40px;
	position: relative;
	border-radius: 5px;
}
@media (max-width: 450px){
	.card{
		margin-top: 0px;
		width: 95%;
		margin-right: 2%;
	}
}