.container {
    margin: 50px 0;
    padding: 20px;
}
.heading {
    text-align: center;
}
.card {
    text-align: center;
    margin: 20;
    background-color: #2C3531;
}
.large {
    width: 100px;
    height: 100px;
}

.label {
    color: white;
}

.contents {
    color: white;
}