.border{
    border-left: 5px solid #106466 !important; 
   
    
}
.typography{
    font-weight:700!important;
    /* font-size: 50px !important; */
}

.box {
    background-image: url('../../images/instructor/cover5.jpg');
    background-size: cover;
    /* background-color: black; */
    background-repeat: no-repeat;
    background-position: fixed;
    height: 350px;
    width: 100%;
    display: flex;
    justify-Content: center;
    align-items: center;
    text-align: center;
    /* z-index: 2; */
}
.boxHeading {
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-weight: bold;
    font-family: Montserrat;
    letter-spacing: 0.1em;
    font-size: 45px !important;
}
@media only screen and (max-width: 500px) {
    .boxHeading {
        background: rgba(0, 0, 0, 0.5);
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ffffff;
        font-weight: bold;
        font-family: Montserrat;
        letter-spacing: 0.1em;
        font-size: 20px;
    }
} 
@media only screen and (min-width:500px) and (max-width: 800px) {
    .boxHeading {
        background: rgba(0, 0, 0, 0.5);
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ffffff;
        font-weight: bold;
        font-family: Montserrat;
        letter-spacing: 0.1em;
        font-size: 30px!important;
    }
} 
@media only screen and (min-width:800px) and (max-width: 1000px) {
    .boxHeading {
        /* background: rgba(0, 0, 0, 0.5);
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ffffff;
        font-weight: bold;
        font-family: Montserrat;
        letter-spacing: 0.1em; */
        font-size: 40px!important;
    }
} 

  .form{
    width: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    padding-bottom: 30px;
  }
  .input{
    padding: 6px 16px;
    font-size: 0.875rem;
    margin-right: 5px;
    border-radius: 5px;
    border: 1px solid lightgray;
    height: 40px;
    width: 60%;
  }
  .searchBtn{
    box-shadow: none;
    height: 40px;
    background-color: #FFCB9A;
    color: #2C3531;
  }
    /* "&:hover": {
      backgroundColor: "#2C3531",
      color: "#FFCB9A",
    }, */