/* body {
    width: 100%;
    margin: 0 auto;
    object-fit: fill;
  }
  
  @media only screen and (max-width: 300px) {  
   body{
     width: 100%;
   }
  } */
  
  
.bg {
  background-color: #116466;
}