@import url('https://fonts.googleapis.com/css?family=Montserrat');
* {
    box-sizing: border-box;
}

.FacultyBanner {
    padding: 30px;
    text-align: center;
    height: auto;
    background-color: transparent;
    color: black;
    font-size: 35px;
    font-weight: 700;
}

.para {
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 40px;
    margin-bottom: 10px;
    text-align: justify;
    font-size: 17px;
}
.box {
    background-image: url('../images/instructor/cover5.jpg');
    background-size: cover;
    /* background-color: black; */
    background-repeat: no-repeat;
    background-position: fixed;
    height: 350px;
    width: 100%;
    display: flex;
    justify-Content: center;
    align-items: center;
    text-align: center;
    /* z-index: 2; */
}
.boxHeading {
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    display: flex;
    justify-Content: center;
    align-Items:center;
    color: white;
    font-Weight: bold;
    font-Family: Montserrat;
    letter-spacing: 0.1em;
}
.particle{
    width:100%;
    height:100%;
    z-index:-1;
    
}

.FacultyContent {
    text-align: center;
    margin-left: auto;
    /* margin-top:150px; */
    margin-right: auto;
    font-family: Montserrat, sans-serif;
    background-color: rgb(253, 246, 234);
    height: 100%;
    padding: 10px;
    text-align: center;
}

.FacultyMember {
    margin-top: -100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 90px;
}

.BannerImage {
    /* background-image: url('./image/banner.jpeg'); */
    /* border-radius: 20px; */
    box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.75);
}

h3 {
    margin: 10px 0;
    font-size: 16px;
    font-weight: 600;
    /* color:gray; */
}

h6 {
    margin: 5px 0;
    /* color:gray; */
    text-transform: uppercase;
    font-size: 15px;
}

p {
    font-size: 14px;
    line-height: 21px;
}

.cardcontainer {
    /* background-color: #231E39; */
    background-color: white;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.75);
    /* color: #B3B8CD; */
    color: black;
    padding-top: 30px;
    position: relative;
    width: 90%;
    max-width: 100%;
    text-align: center;
    padding-bottom: 10px;
    padding-left:10px;
    padding-right:10px;
    text-align:center;
    border:2px solid transparent;
    transition-duration: 0.3s;
}

.cardcontainer:hover {
    box-shadow: 0px 15px 20px -10px rgba(232, 208, 135, 0.95);
    transition-duration: 0.3s;
    border:2px solid lightgray;
}

.cardcontainer .pro {
    /* color: #231E39;
	background-color: #FEBB0B; */
    border-radius: 3px;
    background-color: #ffedce;
    color: black;
    font-size: 14px;
    font-weight: bold;
    padding: 3px 7px;
    position: absolute;
    top: 30px;
    left: 30px;
}

.round {
    width: 125px;
}

.cardcontainer .round {
    border: 2px solid gray;
    border-radius: 50%;
    padding: 7px;
}


.skills {
    background-color: rgb(75, 4, 75);
    text-align: left;
    padding: 15px;
    margin-top: 30px;
}


.social {
    margin: 7px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color:black;
    color: #ffedce;
    font-size: 15px;
    text-align: center;
    justify-content: center;
    padding: 5px;
    transition-duration: 0.3s;
}

.social:hover {
    background-color: white;
    color: black;
    transition-duration: 0.3s;
}

@media only screen and (max-width: 500px) {
    .cardcontainer {
        /* width: 450px; */
        width: 100%;
        max-width: 100%;
        /* padding:10px */
    }
    .FacultyContent{
    margin:none;
    }
}