.container {
  margin: 50px 0;
}

.card {
margin:  2% !important;
box-shadow: none !important;
background: none !important;
}

.cardContent {
box-shadow: none !important;
}

.container h1 {
text-align: center !important;
color: rgb(255,255,255,1);
}

.container h3 {
  text-align: center !important;
  color: rgb(255,255,255,1);
  }

  .icon64 {
    font-size: 64px !important;
    color: rgb(255,255,255, 1);
    -webkit-transition: 0.6s ease-out !important;
        -moz-transition:  0.6s ease-out !important;
        transition:  0.6s ease-out !important;
    
    }
    .icon64:hover{
    
        -webkit-transform: rotateZ(720deg);
        -moz-transform: rotateZ(720deg);
        transform: rotateZ(720deg);
      
    }

    .achievement {
      color: #ffffff;
      text-align: center;
    
    }

.achievementBg {
  background-color: #2C3531;
  padding: 20px;
}
