.bgImage{
  background-image: url(../../images/header/background.jpg);
  height: 100vh;
  position: relative;
  text-align: center;
  color: white;
  background-repeat: no-repeat, repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.5;
}
.centered{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black !important;
  text-align:center !important;
 
}
.btncentered{
  position: absolute;
  margin-top: -250px !important;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(131, 140, 72) !important;
color:white !important;
}


@media only screen and (max-width: 500px) {
  .btncentered{
    position: absolute;
    margin-top: -180px !important;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(131, 140, 72) !important;
    color:white !important;
  }
}
@media only screen and (max-width: 600px) and (min-width:500px) {
  .btncentered{
    position: absolute;
    margin-top: -210px !important;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(131, 140, 72) !important;
    color:white !important;
  }
}
@media only screen and (max-width: 1100px)and (min-width:600px) {
  .btncentered{
    position: absolute;
    margin-top: -235px !important;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(131, 140, 72) !important;
    color:white !important;
  }
}  
