.bg {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  background-color: #106466 !important;
}

.defaultscroll {
  background-color: transparent;
}

.uponscroll {
  background-color: #106466;
}

.bg.scrolled {
  background-color: #106466;
}

.lilink {
  font-size: large;
  color: white !important;
  font-weight: 500 !important;
  border-radius: 5px;
  border: 2px solid;
  border-color: #106466;
}

/* .bg:hover{
    background-color: #FDF6EA;
  } */

.logo {
  height: 80px;
}

.loginreg {
  padding-left: 10px;
  padding-right: 5px;
}

.lielements {
  color: white !important;
  font-weight: bold;
  margin: 5px;
}

.lilink:hover {
  color: #2C3531 !important;
  border: 2px solid;
  background-color: #FFCB9B;
  /* padding: 1px; */
  border-color: #FFCB9B;
  border-radius: 5px;
}


@media (max-width: 1000px) {
  .login {
    margin: 0 auto;
  }
  .ulelements {
    text-align: center;
    color: white;
  }
  .navbrand {
    margin: 0px;
    align-items: center;
    text-align: center;
  }
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    color: white !important;
  }
  .bg:hover {
    background-color: #FDF6EA;
  }
}

/* @media (max-width: 800px){
    .login{
      margin: 0 auto;
    }
    .ulelements{
        text-align: center;
        color: white;
    }
    .navbrand{
      margin: 0 auto;
      align-items: center;
      text-align: center;
    }
    .centered{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 24px;
        color: white !important;
    }
    .bg:hover{
      background-color: #FDF6EA;
    }
  } */

/* @media (max-width: 900px){
    .login{
      margin: 0 auto;
    }
    .ulelements{
        text-align: center;
        color: white;
    }
    .navbrand{
      margin: 0 auto;
      align-items: center;
      text-align: center;
    }
    .centered{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 24px;
        color: white !important;
    }
    .bg:hover{
      background-color: #FDF6EA;
    }
  } */

/* @media (max-width: 1000px){
    .login{
      margin: 0 auto;
    }
    .ulelements{
        text-align: center;
        color: white;
    }
    .navbrand{
        margin: 0px;
        align-items: center;
        text-align: center;
    }
    .centered{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 24px;
        color: white !important;
    }
    .bg:hover{
      background-color: #FDF6EA;
    }
  } */

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white !important;
}

.navbar.navbar-default {
  border-bottom: 0;
}

.navitem {
  border: 2px solid;
  background-color: #FFCB9B;
  /* padding: 1px; */
  border-color: #FFCB9B;
  border-radius: 5px;
  color: #2C3531 !important;
}
.navitem:hover {
  border: 2px solid;
  background-color: #FFCB9B;
  /* padding: 1px; */
  border-color: #FFCB9B;
  color: #2C3531 !important;
  border-radius: 5px;
}
