*{
    margin: 0px;
}
.contain{
    margin-top: 20px;
    width:100%;
    height:550px;
    border: 1px solid transparent;
}
.contain h1{
    font-size: 32px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    color: #FFCB9A;
    margin-top: 30px;
    margin-left: 60px;
    border-bottom: 5px solid rgb(131,140,72);
    width:44px;
    padding-bottom: 5px;
}
.contain h2{
    font-size: 25px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    color: white;
    margin-top: 40px;
    margin-left: 60px;
}
.infocont{
    
    margin-bottom: 30px;
    width: 38%;
    height: 85%;
    float:left;
}
.p1{
    margin-left: 60px;
    font-size:15px ;
    font-family: 'Open Sans', sans-serif;
    color: white;
    margin-top: 25px;
}
.p2{
    margin-top: 25px;
    margin-left: 60px;
    font-size:15px ;
    font-family: 'Open Sans', sans-serif;
    color: white;
}
.coursebtn{
    border:1px solid #2C3531;
    width:155px;
    height:50px;
    margin-left: 60px;
    margin-top: 30px;
    border-radius: 3px;
    background-color: #2C3531;
    color: #FFCB9A;
    font-size: 15px;
    font-weight: 600;
}
.coursebtn:hover{
    background-color: #FFCB9A;
    border:1px solid #FFCB9A;
    color: #2C3531;
}
.slide{
    float: right;
    width: 61%;
    height:85%;

}

.slide p {
    color: #2C3531;
}
.contain h3{
    font-size: 20px;
    color: #2C3531;
}

.gocourse{
    width:160px;
    height:40px;
    border: 1px solid #2C3531;
    border-radius: 3px;
    margin-left: 8px;
    background-color: #2C3531;
    color: #FFCB9A;
}
.gocourse:hover{
    background-color: #FFCB9A;
    color:#2C3531;
    border: 1px solid #FFCB9A;
}
.contain h4{
    float: left;
}
.rate{
    width: 52%;
    height: 40px;
    float: right;
    font-size: 20px;
    padding-left: 16px;
    font-family: sans-serif;
    font-weight: 500;
    color: #808080;
}
.rate p{
    font-size: 10px;
}
.wraprate{
    width:98%;
    height: 55px;
    padding-top: 12px;
    margin-top: -20px;

}

@media (max-width:900px){
    .infocont{
        width: 100%;
    }
    .slide{
        width: 90%;
        margin-right: 5%;
        margin-top: -470px;

    }
    .contain{
        height:900px;
    }
    
}
@media (max-width:700px){
    .slide{
        margin-top:-560px;
    }
    .contain{
        height:1100px;
    }
    .star{
        margin-left: 50px;
    }
    .contain h1{
        margin-left: 30px;

    }
    .contain h2{
        margin-left: 30px;

    }
    .p1{
        margin-left: 30px;

    }
    .p2{
        margin-left: 30px;

    }
    .coursebtn{
        margin-left: 30px;
    }
}
@media (max-width:400px){
    .rate{
        width:43%;
    }
    .p1{
        margin-right: 30px;
        text-align: left;
    }
    .p2{
        margin-right: 30px;
        text-align: left;
    }
    .slide{
        margin-top: -520px;
    }
}
