.container {
    margin: 50px 0;
}

.card {
  margin:  2% !important;
  box-shadow: none !important;
}

.cardContent {
  box-shadow: none !important;
  background-color: #2C3531;
  color: white;
}

.heading {
  color: white;
  text-align: center !important;
  font-family: 'Blinker', sans-serif !important;
  }

.headingCard {
  text-align: left !important;
  color: #FFCB9A;
  }

.icon64 {
  font-size: 64px !important;
  color: white;
}
