.bg{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100% ;
  
  }
  .defaultscroll{
    background-color: transparent;
  }
  .uponscroll{
    background-color: #FDF6EA;
  }
  .bg.scrolled {
    background-color: #FDF6EA;
  }
  .lilink {
   font-size: large;
   color: black;
  }
  /* .bg:hover{
    background-color: #FDF6EA;
  } */
  .logo{
    height: 80px;
  }
  .loginreg{
    padding-left: 10px;
    padding-right: 10px;
  }
  .lielements{
    color: black !important;
    font-weight: bold;
  }
  .lilink:hover{
    color: black !important;
  }
  @media (max-width: 1000px){
    .login{
      margin: 0 auto;
    }
    .ulelements{
        text-align: center;
        color: white;
    }
    .navbrand{
        margin: 0px;
        align-items: center;
        text-align: center;
    }
    .centered{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 24px;
        color: white !important;
    }
    .bg:hover{
      background-color: #FDF6EA;
    }
  }
  /* @media (max-width: 800px){
    .login{
      margin: 0 auto;
    }
    .ulelements{
        text-align: center;
        color: white;
    }
    .navbrand{
      margin: 0 auto;
      align-items: center;
      text-align: center;
    }
    .centered{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 24px;
        color: white !important;
    }
    .bg:hover{
      background-color: #FDF6EA;
    }
  } */
  /* @media (max-width: 900px){
    .login{
      margin: 0 auto;
    }
    .ulelements{
        text-align: center;
        color: white;
    }
    .navbrand{
      margin: 0 auto;
      align-items: center;
      text-align: center;
    }
    .centered{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 24px;
        color: white !important;
    }
    .bg:hover{
      background-color: #FDF6EA;
    }
  } */
  /* @media (max-width: 1000px){
    .login{
      margin: 0 auto;
    }
    .ulelements{
        text-align: center;
        color: white;
    }
    .navbrand{
        margin: 0px;
        align-items: center;
        text-align: center;
    }
    .centered{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 24px;
        color: white !important;
    }
    .bg:hover{
      background-color: #FDF6EA;
    }
  } */
  .centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white !important;
  }
  .navbar.navbar-default {
    border-bottom: 0;
  }
  .navitem{
    border-style: groove;
      /* padding: 1px; */
      border-color: black;
      border-radius: 10%;
  }
  