.bgImage {
  background-image: url(../../../images/header/header_bg.png);
  height: 100vh;
  background-color: #D1E8E2;
  background-repeat: no-repeat, repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
}

.centered {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 10px;
  margin-right: 50px;
}

.img_knowledge {
  width: 70%;
}



.header_pic {
  float: left;
}

.lbl_clr {
  color: #D1E8E2;
  font-size: 40px;
  line-height: 32px;
}

.lbl_sec_clr {
  color: #FFCB9A;
  font-size: 40px;
  line-height: 32px;
}

.btn {
  background-color: #2C3531 !important;
  color: #FFCB9A !important;
  font-size: 2vw !important;
}

@media (max-width:1000px) {
  .lbl_clr {
    color: #D1E8E2;
    font-size: 16px;
  }
  .lbl_sec_clr {
    color: #FFCB9A;
    font-size: 16px;
  }
  /* .btn {
    background-color: #2C3531 !important;
    color: #FFCB9A !important;
    font-size: 9px !important;
  } */
}
/* @media (max-width:900px) {
  .btn {
    background-color: #2C3531 !important;
    color: #FFCB9A !important;
    font-size: 11px !important;
  }
} */

@media (max-width:775px) {
  .bgImage {
    height: 65vh;
  }
  .lbl_clr {
    color: #D1E8E2;
    font-size: 20px;
  }
  .lbl_sec_clr {
    color: #FFCB9A;
    font-size: 20px;
  }
  .btn {
    font-size: 15px !important;
  }
  
/* .btn {
  background-color: #2C3531 !important;
  color: #FFCB9A !important;
  font-size: 7px !important;
} */
}

@media (max-width:600px) {
  .bgImage {
    height: 50vh;
  }
  .lbl_clr {
    color: #D1E8E2;
    font-size: 20px;
  }
  .lbl_sec_clr {
    color: #FFCB9A;
    font-size: 20px;
  }
  .disp_header_pic{
    display: none;
  }
  .btn {
    background-color: #2C3531 !important;
    color: #FFCB9A !important;
    font-size: 15px !important;
  }
}